<ng-template #formTemplate  let-formComponent="form">
    <form [formGroup]="formComponent">
        <mat-form-field appearance="fill" >
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="app-full-width-input">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" class="app-full-width-input">
            <mat-label>Description Template</mat-label>
            <app-enhanced-text-editor formControlName="descriptionTemplate"></app-enhanced-text-editor>       
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Required Components</mat-label>
            <mat-select formControlName="requiredComponents" multiple>
              <mat-option *ngFor="let option of availableOptions" [value]="option.value">{{option.description}}</mat-option>
            </mat-select>
          </mat-form-field>
          
        <h3>Stages</h3>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let stageForm of formComponent.controls.stages.controls;let stageIndex = index"
             [formGroup]="stageForm"
             [expanded]="openStage ===stageIndex" (opened)="setOpenStage(stageIndex)"
             hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Stage {{stageIndex+1}}
                    </mat-panel-title>
                    <mat-panel-description>
                    {{stageForm.value.name}}
                    <button mat-icon-button (click)="remove(stageIndex)"><mat-icon>delete</mat-icon></button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field appearance="fill" >
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="fill" class="app-full-width-input">
                    <mat-label>Description Template</mat-label>
                    <app-enhanced-text-editor formControlName="descriptionTemplate"></app-enhanced-text-editor>       
                </mat-form-field>
                    
            </mat-expansion-panel>
        </mat-accordion>
        <button mat-button (click)="add()">Add Stage</button> 
    </form>
</ng-template>
<app-component-editor-shell 
    [isNew]="isNew$ | async" 
    [id]="id$ | async" 
    [isLoading]="isLoading$ | async"
    [formTemplate]="formTemplate"
    [componentForm]=form 
    (saveClicked)="save()"
    (backClicked)="back()"
    >
</app-component-editor-shell>
